# Segmenting and Clustering Neighborhoods in Toronto part 2

In [3]:
import pandas as pd

In [8]:
#Get data from csv 
url = "https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv"
df_geoloc = pd.read_csv(url)
df_geoloc.head()
print ("done")

done

In [9]:
df_geoloc.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [ ]:
#Adjust colums

In [10]:
df_geoloc = df_geo.rename(columns = {'Postal Code':'PostalCode'}) 
df_geoloc.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [12]:
#We upload the first dataset 
df3=pd.read_csv('Toronto_part1.csv')
df3.head()

   Unnamed: 0 PostalCode      Borough                            Neighborhood
0           0        M1B  Scarborough                          Malvern, Rouge
1           1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2           2        M1E  Scarborough       Guildwood, Morningside, West Hill
3           3        M1G  Scarborough                                  Woburn
4           4        M1H  Scarborough                               Cedarbrae

In [13]:
df3 = pd.merge(df3, df_geoloc, on = 'PostalCode')
df3.head()

,Unnamed: 0,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [14]:
df3.shape

(103, 6)

In [15]:
#Save data 
df3.to_csv('Toronto_part2.csv', index=False)
print('Done')

Done